.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
}
.mymessage {
  margin-right: 10px;
  /* padding: 5px; */
  padding-top: 10px;
  /* background-color: rgb(132, 247, 90); */
  background-color: #38e54d;

  /* background: linear-gradient(to right, #8B1874, #B71375, #FC4F00, #F79540); */

  color: black;
  font-size: small;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;

  border-radius: 5px 5px 0px 5px;
  width: 40%;
  padding-left: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.time {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 2px;
}
